name: Release

on:
  release:
    types: [published]

jobs:
  release:
    name: Release to PyPI
    runs-on: ubuntu-latest
    permissions:
      id-token: write

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install build
        run: |
          pip install --upgrade build

      - name: Build dist
        run: |
          python3 -m build

      - name: Publish
        uses: pypa/gh-action-pypi-publish@v1.8.11
